* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
.main {
  padding-bottom: 50px;
}
.btn {
  padding: 20px 0;
  width: 100%;
  font-size: 1rem;
  text-align: center;
  margin-top: 80px;
  border-radius: 10px;
  color: white;
  background-color: #2e86c1;
  border: 0;
  cursor: pointer;
  transition: all ease 0.3s;
}

.btn:hover {
  opacity: 0.8;
}

.btn:disabled {
  opacity: 0.5;
}

.headerContainer {
  max-width: 900px;
  margin: 40px auto;
}

.container {
  display: flex;
  max-width: 900px;
  margin: auto;
}
.container .leftSide {
  flex: 1;
  margin-right: 40px;
}

.container .leftSide p {
  color: grey;
  margin: 20px 0px 40px 0px;
}

.container .leftSide input {
  padding: 10px 2px;
  width: 100%;
  border: 0;
  border-bottom: 2px solid lightgray;
  display: block;
  margin-top: 20px;
}

.container .leftSide input:disabled {
  opacity: 0.5;
}

/* RIGHT */

.container .rightSide {
  flex: 1;
  margin-left: 40px;
  display: flex;
}

.container .rightSide .grid {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.container .magreza {
  grid-area: magreza;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #a6acaf;
  padding: 20px;
  gap: 10px;
  border-radius: 10px;
}

.container .normal {
  grid-area: normal;
  max-width: 260px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #2ecc71;
  padding: 20px;
  gap: 10px;
  border-radius: 10px;
}

.container .sobrepeso {
  grid-area: sobrepeso;
  max-width: 260px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f5b041;
  padding: 20px;
  gap: 10px;
  border-radius: 10px;
}

.container .obesidade {
  grid-area: obesidade;
  max-width: 260px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #cb4335;
  padding: 20px;
  gap: 10px;
  border-radius: 10px;
}

.container .rightSide .rightBig {
  flex: 1;
  display: flex;
}

.container .rightSide .rightArrow {
  position: absolute;
  background-color: #227c9d;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-left: -35px;
  margin-top: 145px;
  transition: all ease 0.3s;
}

.container .rightSide .rightArrow:hover {
  opacity: 0.8;
}

/* RESPONSIVIDADE */

@media (max-width: 770px) {
  header {
    padding: 0px 20px;
  }
  .container {
    padding: 0px 20px;
    flex-direction: column;
  }
  .container .leftSide {
    margin-right: 0;
  }
  .container .rightSide {
    margin-left: 0;
    margin-top: 50px;
  }
  .container .rightSide .rightArrow {
    margin-left: 0;
    margin-top: 0;
    border-radius: 10px;
  }
}

@media (max-width: 430px) {
  .container .rightSide .grid {
    grid-template-columns: 1fr;
  }
}
